form{
  text-align: center;
  border: #ff4a1c solid 2px;
  height: auto;
  width: 1000px;
  margin-left: 12%;
}
.new{
  text-align: center;
}
.new h1 :hover{
  color: #ff4a1c;
}
fieldset{
  text-align: center;
}
.textbox{
  width: 50px;
  height: auto;
}