body {
    font-family: Overlock, Carter One;
}

main {
    width: auto;
    margin: 0;
}

nav {
    background-color: rgb(37,36,34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 45px;
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: rgb(235, 94, 40);
}

h4 {
    margin: 0;
    font-size: 1em;
    text-align: center;
}

.Snacks article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    width: 150px;
}

.Snacks div {
    width: 150px;
    padding: 1em;
    background-color: rgb(255, 252, 242);
}

.Snacks img {
    width: 150px;
}

.Snack h4 img {
    width: 10px;
    height: auto;
}